<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Email sender</title>
</head>

<body>
  {{>dashheader}}

  <div class="mt-[8rem] px-4 sm:px-12 md:px-44 lg:px-[14rem] space-y-4">
    <div class=" capitalize">
      <h1 class="text-blue-700 font-bold text-2xl">Send your marketing emails</h1>
      <ol style="list-style-type: decimal;" class="px-4">
        <li>Upload CSV file</li>
        <li>Write/Add email template</li>
        <li>Click and Send !!</li>
      </ol>


    </div>

  
    <div class="bg-gray-400 px-4 py-8 rounded content-center text-center">
   
      <a  href="/tamplet" class="text-xl text-white py-2">Download CSV Tamplet </a>
    
    </div>
    <form action="/readcsv" method="POST" enctype="multipart/form-data">

    <div class="bg-blue-600 px-4 py-8 rounded content-center text-center">
      <p class="text-xl py-2 text-white">Upload CSV file here</p>
      
      <input type="file" name="file" required>
    </div>
      <button type="submit" class="bg-blue-600 px-8 py-2 m-4 text-white rounded">Next</button>
  </div>
    </form>



<script>
const token = {{token}}; // Replace with the actual token received
localStorage.setItem("token", token);
const storedToken = localStorage.getItem("token");
console.log(storedToken);
document.getElementById("show").innerText = 'This is a test';



const Message="{{message}}"
window.alert(Message)
</script>
</body>

</html>