<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Email sender</title>
</head>

<body>
  {{>dashheader}}

  <div class="mt-[8rem] px-4 sm:px-12 md:px-44 lg:px-[14rem] space-y-4">
    <div class=" capitalize">

      <h1 class="text-blue-700 font-bold text-2xl">Send your marketing emails</h1>
      <ol style="list-style-type: decimal;" class="px-4">
        <li>Upload CSV file</li>
        <li>Write/Add email template</li>
        <li>Click and Send !!</li>
      </ol>


    </div>

    <div class="bg-gray-200 px-4 py-8 rounded content-center text-center">
      <p class="text-xl py-2">Upload CSV file here</p>
      <input type="file">

    </div>
  </div>

</body>

</html>